body {
    background-color: #f381b4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: #f8cfcf;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button {
    background-color: #f8cfcf;
    color: black; 
    border: 2px solid #f44336;
  }
  

  .button:hover {
    background-color: #f44336;
    color: white;
  }

.choose {
    padding: 50px;
    background: #f8cfcf;
    border-radius: 6px;
}

.choose form {
    display: flex;
    flex-direction: column;
}

.choose form button {
    margin: 5px;
}

.logo img {
    width: 50%;
}

.logo {
    display: inline-block;

}

.textbox
{
    margin: 10px;
}